pandas
matplotlib
seaborn
openpyxl
fastapi
SQLAlchemy[asyncio]
pydantic
asyncpg
uvicorn[standard]
requests>=2.32.3
python-dotenv
dbt-core
dbt-postgres
sentence-transformers
pymilvus
dbt-duckdb
duckdb
tqdm
feast[postgres,milvus]==0.49.0